{% load static %}
<section class="d-flex flex-row justify-content-center">
    <section 
        class='card d-flex flex-column mt-3 ml-1 mb-1 ml-1' 
        style="width: 40rem;">
        <div class="card-body d-flex flex-column df-center">
            <h2>Disponibilidade:</h2>
            <h3 id="disponibilidade"></h3>
        </div>
    </section>
    
    <section 
        class='card d-flex flex-column mt-3 ml-1 mb-1 ml-1' 
        style="width: 40rem;">
        <div class="card-body d-flex flex-column df-center">
            <h2>Performance:</h2>
            <h3 id="performance"></h3>
        </div>
    </section>
    <section 
        class='card d-flex flex-column mt-3 ml-1 mb-1 ml-1' 
        style="width: 40rem;">
        <div class="card-body d-flex flex-column df-center">
            <h2>Qualidade:</h2>
            <h3 id="Qualidade"></h3>
        </div>
    </section>
        
    <section 
        class='card d-flex flex-column mt-3 ml-1 mb-1 ml-1' 
        style="width: 40rem;">
        <div class="card-body d-flex flex-column df-center">
            <h2>OEE:</h2>
            <h3 id="OEE"></h3>
        </div>
    </section>

<div hidden> 
    <script hidden type="text/javascript" src="{% static "global/js/oee.js" %}"></script>
</div>

</section>

