{% extends "global/base.html" %}
{% load static %}
{% block content %}
  <section id="pedidos" class="container-fluid">
    <div class="container-title text-center justify-content-center mb-5">
      <h1>
        Adicionar Item ao Pedido: <strong>{{ pedido.pedido_number }} - {{ pedido.cliente }}</strong>
      </h1>
    </div>
    <div class="row g-5">
      <section class="col col-md-6">
        <div class="row shadow-lg p-5 mb-5 bg-body-tertiary rounded ">
          <div class="row g-3 justify-content-center mb-4">
            <div class="col col-5 position-relative">
              <input type="text"
                     name="pedido_number"
                     id="id_pedido_number"
                     value="{{ pedido.pedido_number }}"
                     readonly
                     class="form-control form-control-lg border border-success pt-3">
              <label for="id_pedido_number"
                     class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                <strong>Número do Pedido:</strong>
              </label>
            </div>
            <div class="col col-5 position-relative">
              <input type="text"
                     name="pedido_cliente"
                     id="id_pedido_cliente"
                     value="{{ pedido.pedido_cliente }}"
                     readonly
                     class="form-control form-control-lg border border-success pt-3">
              <label for="id_pedido_cliente"
                     class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                <strong>Pedido do Cliente:</strong>
              </label>
            </div>
          </div>
          <div class="row g-3 justify-content-center mb-4">
            <div class="col col-8 position-relative">
              <input type="text"
                     name="cliente"
                     id="id_cliente"
                     value="{{ pedido.cliente }}"
                     readonly
                     class="form-control form-control-lg border border-success pt-3">
              <label for="id_cliente"
                     class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                <strong>Cliente:</strong>
              </label>
            </div>
            <div class="col col-2 position-relative">
              <input type="text"
                     name="status"
                     id="id_status"
                     value="{{ pedido.get_status_display }}"
                     readonly
                     class="form-control form-control-lg border border-success pt-3">
              <label for="id_status"
                     class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                <strong>Status:</strong>
              </label>
            </div>
          </div>
          <div class="row g-3 justify-content-center mb-4">
            <div class="col col-5 position-relative">
              <input type="text"
                     name="lacre_number"
                     id="id_lacre_number"
                     value="{{ pedido.lacre_number }}"
                     readonly
                     class="form-control form-control-lg border border-success pt-3">
              <label for="id_lacre_number"
                     class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                <strong>Número do Lacre:</strong>
              </label>
            </div>
            <div class="col col-5 position-relative">
              <input type="text"
                     name="cargo_number"
                     id="id_cargo_number"
                     value="{{ pedido.get_cargo_number_display }}"
                     readonly
                     class="form-control form-control-lg border border-success pt-3">
              <label for="id_cargo_number"
                     class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                <strong>Número da Carga:</strong>
              </label>
            </div>
          </div>
        </div>
        <div class="row shadow-lg p-5 mb-5 bg-body-tertiary rounded ">
          <div class="row container text-center mb-5">
            <h2>Selecionar Dados</h2>
          </div>
          <div class="row form-group">
            <form action="{{ form_action }}" method="post">
              {% csrf_token %}
              <div class="row g-3 justify-content-center mb-4">
                <div class="col col-3 position-relative">
                  <input type="text"
                         id="id_proforma"
                         value="{{ pedido.pedido_number }}"
                         readonly
                         class="form-control form-control-lg border border-success pt-3">
                  <label for="id_proforma"
                         class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                    <strong>Pedido:</strong>
                  </label>
                  <input type="hidden" name="proforma" value="{{ pedido.pk }}">
                </div>
                <div class="col col-8 position-relative">
                  <input type="text"
                         id="item_search"
                         list="datalistItensOptions"
                         class="form-control form-control-lg border bg-primary-subtle border-success pt-3">
                  <datalist id="datalistItensOptions">
                    {% for item in item_list %}
                      <option value="{{ item.item_cod }} - {{ item.name_prod }}"
                              data-pk="{{ item.pk }}"></option>
                    {% endfor %}
                  </datalist>
                  <label for="item_search"
                         class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                    <strong>Item:</strong>
                  </label>
                  <input type="hidden" name="item" id="id_item_hidden">
                </div>
              </div>
              <div class="row g-3 justify-content-center mb-4">
                <div class="col col-3 position-relative">
                  <input type="number"
                         id="id_quantity"
                         name="quantity"
                         class="form-control form-control-lg border bg-primary-subtle border-success pt-3">
                  <label for="id_quantity"
                         class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                    <strong>Quantidade:</strong>
                  </label>
                </div>
                <div class="col col-8 position-relative">
                  <input type="text"
                         id="finish_search"
                         list="datalistFinishOptions"
                         class="form-control form-control-lg bg-primary-subtle border border-success pt-3">
                  <datalist id="datalistFinishOptions">
                    {% for finish in finish_list %}
                      <option value="{{ finish.name_finish }}" data-pk="{{ finish.pk }}"></option>
                    {% endfor %}
                  </datalist>
                  <label for="finish_search"
                         class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
                    <strong>Acabamento:</strong>
                  </label>
                  <input type="hidden" name="finish" id="id_finish_hidden">
                </div>
              </div>
              <div class="row g-2 justify-content-center my-4">
                <button type="submit" class="col btn btn-success mx-2 fs-4">Adicionar Item</button>
                <button type="reset" class="col btn btn-warning mx-2 fs-4">Limpar Campos</button>
                <a href="{% url 'pedidos:detail' pedido.pk %}"
                   class="col btn bg-info mx-2 fs-4">Voltar ao Pedido</a>
              </div>
            </form>
          </div>
        </div>
        <div class="row justify-content-center">
          {% if pedido.pedido_editable %}
            <button class="btn btn-danger col-md-5 mx-3 fs-3"
                    id="btn-finalizar-edicao"
                    onclick='finalizarEdicao()'>Finalizar Edição de Pedido</button>
          {% else %}
            <button class="btn btn-info col-md-5 mx-3 fs-3 none"
                    id="btn-imprime-etiqueta"
                    onclick='imprimirEtiquetas()'>Imprimir Etiquetas</button>
          {% endif %}
        </div>
      </section>
      <section class="col col-md-6">
        <div class="table table-container">
          {% if itens_pedido %}
            <table class="table table-hover caption-top">
              <caption class="table-caption">
                <h3 class="my-5 text-center">Itens Cadastrados Pedido</h3>
              </caption>
              <thead>
                <tr class="table-row-header">
                  <th scope="col" class="col col-md-2 text-center table-header fs-4">Código</th>
                  <th scope="col" class="col col-md-6 text-center table-header fs-4">Descrição</th>
                  <th scope="col" class="col col-md-3 text-center table-header fs-4">Acabamento</th>
                  <th scope="col" class="col col-md-2 text-center table-header fs-4">Quantidade</th>
                  <th scope="col" class="col col-md-1 text-center table-header fs-4"></th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                {% for item in itens_pedido %}
                  <tr class="table-row align-items-center">
                    <td class="table-cel text-center fs-5">{{ item.item.item_cod }}</td>
                    <td class="table-cel fs-5">{{ item.item.name_prod }}</td>
                    <td class="table-cel fs-5">{{ item.finish.name_finish }}</td>
                    <td class="table-cel text-center fs-5">{{ item.quantity }}</td>
                    <td class="table-cel text-center fs-5 d-flex justify-content-between">
                      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-1 fs-3"
                         href="{% url 'pedidos:update_item' item.pk pedido.pedido_number %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-pen"
                             viewBox="0 0 16 16">
                          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                        </svg>
                      </a>
                      <a class="link-offset-2 link-offset-3-hover text-danger link-underline link-underline-opacity-0 link-underline-opacity-75-hover mx-1 fs-3"
                         href="#">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-x-circle"
                             viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="container justify-content-center">
              <div class="row mb-5">
                <h1>Nenhum item encontrado</h1>
              </div>
            </div>
          {% endif %}
        </div>
      </section>
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  <script src="{% static 'global/js/pedido_fill.js' %}"></script>
  <script>
    function finalizarEdicao() {
      const csrfToken = document.querySelector(
          "[name=csrfmiddlewaretoken]"
      ).value;
      console.log("Iniciando finaliza o de edicao");
      console.log("csrfToken:", csrfToken);

      $.ajax({
          type: "GET",
          url: "{% url 'pedidos:finalizar_edicao' pedido.pk %}",
          headers: {
              "X-CSRFToken": csrfToken,
          },
          success: function (data) {
              console.log("finalizarEdicao() success callback:", data);
              if (data.success) {
                  console.log("Finaliza o de edicao realizada com sucesso!");
                  window.location.reload();
              } else {
                  console.error(
                      "Finaliza o de edicao falhou:",
                      data.message || "Erro desconhecido."
                  );
              }
          },
          error: function (xhr, status, error) {
              console.error("Erro na requisi o AJAX:", status, error, xhr);
          },
      });
    }

    function imprimirEtiquetas() {
        const btn_print_labels = document.getElementById("btn-imprime-etiqueta");
        const csrfToken = document.querySelector(
            "[name=csrfmiddlewaretoken]"
        ).value;
        event.preventDefault();
        btn_print_labels.disabled = true;
        btn_print_labels.innerText = "Imprimindo...";
        $.ajax({
            type: "POST",
            url: "{% url 'pedidos:imprimir_etiquetas' pedido.pk %}",
            headers: {
                "X-CSRFToken": csrfToken,
            },
            success: function (data) {
                console.log(data);
                if (data.success) {
                    console.log("Etiquetas impressas com sucesso.");
                } else {
                    console.error(
                        "Finalização da edição falhou:",
                        data.message || "Erro desconhecido."
                    );
                }
            },
            error: function (xhr, status, error) {
                console.error("Erro na requisição AJAX:", status, error, xhr);
            },
        });
    }
  </script>


{% endblock scripts %}
