{% load static %}

<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="light">
<head>
  {% include "global/partials/_head.html" %}
  <title>{{ site_setup }}{% if subtitle %} - {{ subtitle }}{% endif %}</title>
</head>
<body class="bg-body-tertiary my-auto container-lg">
  <input type="hidden" name="mac_id" value="{{ mac_id }}">
  <header class="p-3 mb-3 border-bottom">
    {% include "global/partials/_header.html" %}
  </header>

  {% if messages %}
    <div class="messages">
      {% include "global/partials/_messages.html" %}
    </div>
  {% endif %}
  {% if user.is_superuser %}
      {% include "global/partials/_sidebar.html" %}
  {% endif %}
  <div class="row d-flex justify-content-center">
    <main class="container-lg">
      {% block content %}{% endblock content %}
    </main>
  </div>
  
  {% if is_paginated %}
    {% include "global/partials/_pagination.html" %}
  {% endif %}
  <footer class="fixed-bottom mt-5 p-3 bg-dark-subtle"> 
    {% include "global/partials/_footer.html" %}
  </footer>

  <script type="text/javascript" src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script type="text/javascript" src="{% static 'global/js/prism.js' %}"></script>
  <script type="text/javascript" src="{% static 'global/js/custom.js' %}"></script>

  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
