  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6 text-center">
        <p class="fs-5"><strong>Copyright © 2025 Móveis James.</strong> Todos os direitos reservados.</p>
      </div>
      <div class="col-md-6 text-end">
        <p class="fs-5">Desenvolvido por 
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
            href="https://www.linkedin.com/in/odeclei-francisco-tamanini-98b514aa" 
            target="_blank">Odeclei Tamanini
          </a>
        </p>
      </div>

    </div>

  </div> 
