{% if is_paginated %}
  <div class="row ">
    <nav aria-label="Navegação da página" class="row justify-content-center my-5">
      <ul class="pagination mt-4 justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link fs-4"
               href="?page={{ page_obj.previous_page_number }}"
               aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link fs-4">&laquo;</span>
          </li>
        {% endif %}
        {% for i in page_range %}
          {% if i == page_obj.number %}
            <li class="page-item active" aria-current="page">
              <span class="page-link  fs-4">{{ i }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link  fs-4" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link  fs-4"
               href="?page={{ page_obj.next_page_number }}"
               aria-label="Próxima">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link  fs-4">&raquo;</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  </nav>
  <div class="row my-5 py-5" style="height: 100px"></div>
</div>
{% endif %}
