{% extends "global/base.html" %}
{% load static %}

{% block content %}
  <section>
    <form action="{% url 'carregamento:search' %}" method="get">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-md-5">
            <div class="row search-container">
              <div class="col-auto d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-search"
                     viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
              </div>
              <div class="col-6">
                <input id="query"
                       class="form-control form-control-lg search-input"
                       type="search"
                       placeholder="Procurar..."
                       name="search"
                       value="{{ search_value }}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="container">
    {% if carregamentos %}
    <table class="table table-hover caption-top">
      <caption class="table-caption"><h2>Carregamentos Cadastrados</h2></caption>
      <thead>
        <tr class="table-row-header">
          <th scope="col" class="col col-md-1 table-header fs-2">Pedido</th>
          <th scope="col" class="col col-md-2 table-header fs-2">Cliente</th>
          <th scope="col" class="col col-md-5 table-header fs-2">Item</th>
          <th scope="col" class="col col-md-2 table-header text-center fs-2">Quantidade</th>
          <th scope="col" class="col col-md-1 table-header fs-2"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for carregamento in carregamentos %}
        <tr class="table-row">
          <td class="table-cel fs-4">{{ carregamento.pedido_data.pedido_number }}</td> 
          <td class="table-cel fs-4">{{ carregamento.pedido_data.cliente }}</td> 
          <td class="table-cel fs-4">{{ carregamento.item.item }}</td>
          <td class="table-cel text-center fs-4">{{ carregamento.qtde_carregada }}</td>
          <td class="table-cel text-center fs-4">
            <a href="{% url 'carregamento:carga_detail' carregamento.pk %}" target="_blank" rel="noopener noreferrer">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
              </svg>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    {% else %}
      <h2 class="text-center">Nenhum Carregamento Cadastrado</h2>
    {% endif %}

  </section>

{% endblock content %}
