[data-bs-theme="light"] {
  --bs-body-bg: #f5fefe;
  /* Um azul bebê bem claro para o light mode */
  --bs-body-color: #212529;
  /* Cor do texto padrão Bootstrap */
  --bg-btn-purple: rgb(70, 31, 149);
}

[data-bs-theme="dark"] {
  --bs-body-bg: #212529;
  /* Um cinza escuro para o dark mode */
  --bs-body-color: #f8f9fa;
  /* Cor do texto claro para o dark mode */
  --bg-btn-purple: rgb(175, 139, 246);
}

/* .btn-purple {
    background-color: var(--bg-btn-purple);
} */
.search-icon {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  color: #888;
}

.search-container {
  position: relative;
}

#form-add-item {
  display: none;
  cursor: pointer;
}

.sidebar-open-btn {
  transform: translateX(250px);
  /* 250px é a largura padrão do offcanvas do Bootstrap */
  transition: transform 0.3s ease-in-out;
}

/* Estilo para o modal. Ele será o fundo semitransparente que cobre a tela inteira. */
#modal-cadastro {
  /* Fica na frente de tudo */
  position: fixed;
  z-index: 1050;
  /* Garante que fique acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* Cor e opacidade do fundo */
  background-color: rgb(0, 0, 0);
  /* Preto */
  background-color: rgba(0, 0, 0, 0.6);
  /* Preto com 60% de opacidade */

  /* Para centralizar o modal-dialog (opcional, mas recomendado) */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Inicialmente, o modal deve ficar escondido */
  display: none;
}

/* Opcional: Adiciona um efeito de transição para suavizar a abertura */
.modal-open {
  overflow: hidden;
  /* Evita que o scroll da página apareça ao abrir o modal */
}
