{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme='auto'>
  <head>
    {% include "global/partials/_head.html" %}
    <title>{{ site_setup }}{% if subtitle %} - {{ subtitle }}{% endif %}</title>
  </head>
  <body class="bg-body-tertiary my-auto container-lg">
    <div class="container card my-5 p-4 rounded-4 shadow">
      <div class="container-lg justify-content-center d-flex flex-column align-items-center my-5">
        <img class="mb-4 justify-content-center d-block"
             src="{{ site_setup.logo_site.url }}"
             alt="logo tipo da empresa"
             width="100"
             height="100">
      </div>
      <h2 class="mb-4 text-center text">Entrar</h2>
      <p class="lead fs-4 text-center ">
        Para acessar o sistema, por favor, faça login com seu nome de usuário e
        senha.
      </p>
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Seu nome de usuário e/ou senha não foram reconhecidos. Por favor, tente
          novamente.
        </div>
      {% endif %}
      <div class="container-lg my-4">
        <form action="{{ form_action }}" method="post">
          {% csrf_token %}
          <div class="col col-7 position-relative mx-auto mb-4">
            <input type="text"
                   name="{{ form.username.name }}"
                   id="{{ form.username.id_for_label }}"
                   class="form-control form-control-lg border border-success p-3"
                   required
                   value="{{ form.username.value|default:'' }}">
            <label class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4"
                   for="{{ form.username.id_for_label }}">
              <strong>Nome de Usuário</strong>
            </label>
          </div>
          {% if form.username.errors %}
            <ul class="errorlist">
              {% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
          {% endif %}
          <div class="col col-7 position-relative mx-auto mb-4">
            <input type="password"
                   name="{{ form.password.name }}"
                   id="{{ form.password.id_for_label }}"
                   class="form-control form-control-lg border border-success p-3"
                   required />
            <label class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4"
                   for="{{ form.password.id_for_label }}">
              <strong>Senha</strong>
            </label>
            <button class="btn btn lg btn-light position-absolute top-50 start-100 translate-middle-y" type="button" id="togglePassword">
                <i class="bi bi-eye-slash fs-4" id="toggleIcon"></i>
            </button>

          </div>
          {% if form.password.errors %}
            <ul class="errorlist">
              {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
          {% endif %}
          {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
          <div class="row justify-content-center py-3">
            <button type="submit"
                    class="col-5 btn btn-lg btn-primary py-3 my-4 fs-2 text-capitalize"
                    id="submitLoginBtn">Entrar</button>
          </div>
        </form>
      </div>
    </div>
    <footer class="footer mt-auto py-3 bg-body-tertiary">
      {% include "global/partials/_footer.html" %}
    </footer>
    <script type="text/javascript"
            src="{% static "global/js/bootstrap.bundle.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static "global/js/prism.js" %}"></script>
    <script type="text/javascript" src="{% static "global/js/custom.js" %}"></script>
    <script>
      // SEU NOVO SCRIPT PARA ENVIAR O FORMULÁRIO DE LOGIN
      document.addEventListener("DOMContentLoaded", function () {
        const loginButton = document.getElementById("submitLoginBtn");
        const loginForm = document.getElementById("loginForm");
        const passwordInput = document.getElementById("id_password");
        const togglePassword = document.getElementById("togglePassword");
        const toggleIcon = document.getElementById("toggleIcon");

        togglePassword.addEventListener("click", function (event) {
          const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
          passwordInput.setAttribute("type", type);

          if (type === "password") {
            toggleIcon.classList.remove("bi-eye-slash");
            toggleIcon.classList.add("bi-eye");
          } else {
            toggleIcon.classList.remove("bi-eye");
            toggleIcon.classList.add("bi-eye-slash");
          }});

        if (loginButton && loginForm) {
          loginButton.addEventListener("click", function (event) {
            event.preventDefault();

            // Força o envio do formulário
            loginForm.submit();
            console.log("enviado");
          });
        }
      });
    </script>
  </body>
</html>
