{% extends "global/base.html" %}
{% load static %}

{% block content %}
<section class="container">
  <div class="caption my-5">
    <h2 class= "text-center">Adicionar Novo Usuário</h2>
  </div>
    
    <div class="form-group">
      <form action="{% url 'site_setup:user_create' %}" method="post">
        {% csrf_token %}

        <div class="form-group position-relative mb-4 ">
          {{field.}}
        </div>
        {% for field in form %}
          <div class="form-group position-relative mb-4 ">
            <label 
              for="{{ field.id_for_label }}" 
              class="position-absolute top-0 start-0 translate-middle-y bg-body-tertiary fs-4">
              {{ field.label }}
            </label>
            {{ field }}
            {% if field.help_text %}
              <p>{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <button type="submit">Salvar</button>
      </form>
    </div>
</section>
{% endblock content %}
